.site-heading h1 {
  -webkit-text-stroke: 2px black;
}
.site-heading span {
  /* color: #19bfff; */
  /* -webkit-text-stroke: 0.2px black; */
  font-size:  23px!important;
  text-shadow: 0px 0px 5px black;
}

.post-heading {
  margin-bottom: 200px;
}
.post-heading h1, .post-heading h2, .post-heading span {
  background-color: black;
  float: left;
  clear: both;
}
.post-heading div {
  text-shadow: 0px 0px 7px black;
  /* text-shadow: */
  /*   -1px -1px 0 #000, */
  /*   0    -1px 0 #000, */
  /*   1px  -1px 0 #000, */
  /*   1px   0   0 #000, */
  /*   1px   1px 0 #000, */
  /*   0     1px 0 #000, */
  /*   -1px  1px 0 #000, */
  /*   -1px  0   0 #000; */
}

.navbar-brand, #huxblog_navbar:not(.in) {
  text-shadow: 0px 0px 5px black;
}

.navbar-default .navbar-toggle .icon-bar {
  filter: drop-shadow(0px 0px 5px black)
}
