<ul class="list-inline">                  
	{{ with .Get `email` }}
	<li>
		<a href="mailto:{{ . }}">
			<span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</li>
	{{ end }}
	{{ with .Get `linkedin` }}
	<li>
		<a target="_blank" href="{{ . }}">
			<span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</li>
	{{ end }}
</ul>
